/*
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
Colors */
:root {
  --blue: #6a71e5;
  --orange: #ea5822;
}
/* Default Css */
main {
  font-family: "Montserrat", sans-serif;
}
.text-justify {
  text-align: justify;
}
.logo {
  width: 130px;
  height: auto;
  display: inline-block;
}
.footer-logo a img {
  width: 200px;
  height: auto;
}
ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.fix {
  overflow: hidden;
}

a {
  text-decoration: none;
}

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: medium none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}
.pos-rel {
  position: relative;
}
.bg-blue {
  background: linear-gradient(
    90deg,
    rgba(73, 114, 253, 0.85) 0%,
    rgba(121, 5, 210, 0.85) 100%
  );
}
/*-- Margin And Padding --*/
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

/*-- Margin Bottom --*/
.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.mb-230 {
  margin-bottom: 230px;
}

.mb-235 {
  margin-bottom: 235px;
}

.mb-240 {
  margin-bottom: 240px;
}

.mb-245 {
  margin-bottom: 245px;
}

.mb-250 {
  margin-bottom: 250px;
}

.mb-255 {
  margin-bottom: 255px;
}

.mb-260 {
  margin-bottom: 260px;
}

.mb-265 {
  margin-bottom: 265px;
}

.mb-270 {
  margin-bottom: 270px;
}

.mb-275 {
  margin-bottom: 275px;
}

.mb-280 {
  margin-bottom: 280px;
}

.mb-285 {
  margin-bottom: 285px;
}

.mb-290 {
  margin-bottom: 290px;
}

.mb-295 {
  margin-bottom: 295px;
}

.mb-300 {
  margin-bottom: 300px;
}

/*-- Margin Left --*/
.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-55 {
  margin-left: 55px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-65 {
  margin-left: 65px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-75 {
  margin-left: 75px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-85 {
  margin-left: 85px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-95 {
  margin-left: 95px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-105 {
  margin-left: 105px;
}

.ml-110 {
  margin-left: 110px;
}

.ml-115 {
  margin-left: 115px;
}

.ml-120 {
  margin-left: 120px;
}

.ml-125 {
  margin-left: 125px;
}

.ml-130 {
  margin-left: 130px;
}

.ml-135 {
  margin-left: 135px;
}

.ml-140 {
  margin-left: 140px;
}

.ml-145 {
  margin-left: 145px;
}

.ml-150 {
  margin-left: 150px;
}

.ml-155 {
  margin-left: 155px;
}

.ml-160 {
  margin-left: 160px;
}

.ml-165 {
  margin-left: 165px;
}

.ml-170 {
  margin-left: 170px;
}

.ml-175 {
  margin-left: 175px;
}

.ml-180 {
  margin-left: 180px;
}

.ml-185 {
  margin-left: 185px;
}

.ml-190 {
  margin-left: 190px;
}

.ml-195 {
  margin-left: 195px;
}

.ml-200 {
  margin-left: 200px;
}

/*-- Margin Right --*/
.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-55 {
  margin-right: 55px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-65 {
  margin-right: 65px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-75 {
  margin-right: 75px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-85 {
  margin-right: 85px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-95 {
  margin-right: 95px;
}

.mr-100 {
  margin-right: 100px;
}

.mr-105 {
  margin-right: 105px;
}

.mr-110 {
  margin-right: 110px;
}

.mr-115 {
  margin-right: 115px;
}

.mr-120 {
  margin-right: 120px;
}

.mr-125 {
  margin-right: 125px;
}

.mr-130 {
  margin-right: 130px;
}

.mr-135 {
  margin-right: 135px;
}

.mr-140 {
  margin-right: 140px;
}

.mr-145 {
  margin-right: 145px;
}

.mr-150 {
  margin-right: 150px;
}

.mr-155 {
  margin-right: 155px;
}

.mr-160 {
  margin-right: 160px;
}

.mr-165 {
  margin-right: 165px;
}

.mr-170 {
  margin-right: 170px;
}

.mr-175 {
  margin-right: 175px;
}

.mr-180 {
  margin-right: 180px;
}

.mr-185 {
  margin-right: 185px;
}

.mr-190 {
  margin-right: 190px;
}

.mr-195 {
  margin-right: 195px;
}

.mr-200 {
  margin-right: 200px;
}

/*-- Padding Top --*/
.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-205 {
  padding-top: 205px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-215 {
  padding-top: 215px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-225 {
  padding-top: 225px;
}

.pt-230 {
  padding-top: 230px;
}

.pt-235 {
  padding-top: 235px;
}

.pt-240 {
  padding-top: 240px;
}

.pt-245 {
  padding-top: 245px;
}

.pt-250 {
  padding-top: 250px;
}

.pt-255 {
  padding-top: 255px;
}

.pt-260 {
  padding-top: 260px;
}

.pt-265 {
  padding-top: 265px;
}

.pt-270 {
  padding-top: 270px;
}

.pt-275 {
  padding-top: 275px;
}

.pt-280 {
  padding-top: 280px;
}

.pt-285 {
  padding-top: 285px;
}

.pt-290 {
  padding-top: 290px;
}

.pt-295 {
  padding-top: 295px;
}

.pt-300 {
  padding-top: 300px;
}

/*-- Padding Bottom --*/
.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}

.pb-230 {
  padding-bottom: 230px;
}

.pb-235 {
  padding-bottom: 235px;
}

.pb-240 {
  padding-bottom: 240px;
}

.pb-245 {
  padding-bottom: 245px;
}

.pb-250 {
  padding-bottom: 250px;
}

.pb-255 {
  padding-bottom: 255px;
}

.pb-260 {
  padding-bottom: 260px;
}

.pb-265 {
  padding-bottom: 265px;
}

.pb-270 {
  padding-bottom: 270px;
}

.pb-275 {
  padding-bottom: 275px;
}

.pb-280 {
  padding-bottom: 280px;
}

.pb-285 {
  padding-bottom: 285px;
}

.pb-290 {
  padding-bottom: 290px;
}

.pb-295 {
  padding-bottom: 295px;
}

.pb-300 {
  padding-bottom: 300px;
}

/*-- Padding Left --*/
.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-55 {
  padding-left: 55px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-65 {
  padding-left: 65px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-75 {
  padding-left: 75px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-85 {
  padding-left: 85px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-95 {
  padding-left: 95px;
}

.pl-100 {
  padding-left: 100px;
}

.pl-105 {
  padding-left: 105px;
}

.pl-110 {
  padding-left: 110px;
}

.pl-115 {
  padding-left: 115px;
}

.pl-120 {
  padding-left: 120px;
}

.pl-125 {
  padding-left: 125px;
}

.pl-130 {
  padding-left: 130px;
}

.pl-135 {
  padding-left: 135px;
}

.pl-140 {
  padding-left: 140px;
}

.pl-145 {
  padding-left: 145px;
}

.pl-150 {
  padding-left: 150px;
}

.pl-155 {
  padding-left: 155px;
}

.pl-160 {
  padding-left: 160px;
}

.pl-165 {
  padding-left: 165px;
}

.pl-170 {
  padding-left: 170px;
}

.pl-175 {
  padding-left: 175px;
}

.pl-180 {
  padding-left: 180px;
}

.pl-185 {
  padding-left: 185px;
}

.pl-190 {
  padding-left: 190px;
}

.pl-195 {
  padding-left: 195px;
}

.pl-200 {
  padding-left: 200px;
}

/*-- Padding Right --*/
.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-35 {
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-55 {
  padding-right: 55px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-65 {
  padding-right: 65px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-75 {
  padding-right: 75px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-85 {
  padding-right: 85px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-95 {
  padding-right: 95px;
}

.pr-100 {
  padding-right: 100px;
}

.pr-105 {
  padding-right: 105px;
}

.pr-110 {
  padding-right: 110px;
}

.pr-115 {
  padding-right: 115px;
}

.pr-120 {
  padding-right: 120px;
}

.pr-125 {
  padding-right: 125px;
}

.pr-130 {
  padding-right: 130px;
}

.pr-135 {
  padding-right: 135px;
}

.pr-140 {
  padding-right: 140px;
}

.pr-145 {
  padding-right: 145px;
}

.pr-150 {
  padding-right: 150px;
}

.pr-155 {
  padding-right: 155px;
}

.pr-160 {
  padding-right: 160px;
}

.pr-165 {
  padding-right: 165px;
}

.pr-170 {
  padding-right: 170px;
}

.pr-175 {
  padding-right: 175px;
}

.pr-180 {
  padding-right: 180px;
}

.pr-185 {
  padding-right: 185px;
}

.pr-190 {
  padding-right: 190px;
}

.pr-195 {
  padding-right: 195px;
}

.pr-200 {
  padding-right: 200px;
}

/* Button  */
.landing_btn {
  outline: none;
  border: none;
  width: 280px;
  height: 60px;
  background: #4a72fd;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.9s;
  cursor: pointer;
}
.landing_btn-icon {
  display: inline-block !important;
  margin-left: 10px;
  vertical-align: middle;
  margin-bottom: initial !important;
}
.landing_btn:hover {
  transform: scale(1.2);
}
.form-btn .landing_btn:hover {
  transform: scale(1.1);
}
.access_btns {
  outline: none;
  border: none;
  width: 90px;
  height: 40px;
  background: #ffffff;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;   	/*15px*/
  color: #4a72fd;
  margin: 5px;
  transition: 0.2s linear;
}
.access_btns:hover {
  transform: scale(1.1);
}
.sticky .access_btns {
  background: #4a72fd;
  color: #fff;
}

.price-card {
  font-weight: 400;
  /* box-shadow: 0px 4px 15px rgb(123 123 123 / 10%); */
  border-radius: 6px;
  border: none;
}
.price-card .title,
.cost {
  font-weight: 600;
  text-align: center;
  /* margin-bottom: 10px; */
}
.price-card .cost {
  font-style: italic;
}
.price-card .access_btns {
  background: linear-gradient(
    90deg,
    rgba(73, 114, 253, 0.85) 0%,
    rgba(121, 5, 210, 0.85) 100%
  );
  color: #fff;
  width: auto;
  padding: 0 10px;
}

@media (max-width: 767px) {
  .mobile-card .access_btns {
    font-size: 12px;
    padding: 4px 4px;
    height: auto;
  }
}

.tableFixHead {
  /* overflow-y: auto;
  height: calc(100vh - 150px); */

  width: 100%;
  box-shadow: 0 0 9px 0 rgb(44 76 243 / 19%);
}
@media (max-width: 767px) {
  .tableFixHead {
    height: 100vh;
  }
  .tableFixHead tbody.cust-width tr th {
    position: sticky;
    left: 0;
    background: #fff;
  }
}
.tableFixHead thead.stiky-head th {
  background: #fff;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.tableFixHead tbody.cust-width tr th {
  width: 24%;
  vertical-align: middle;
}
.tableFixHead .feature_availability {
  color: var(--blue);
  font-size: 2rem;
  vertical-align: middle;
}

.changeicon .feature_availability.minus,
.plus {
  display: inline-block;
}
.changeicon .feature_availability.plus,
.minus,
#shwtime,
.shwtextarea {
  display: none;
}
/* .tableFixHead .feature_availability-orange {
  color: var(--orange);
  font-size: 2rem;
  vertical-align: middle;
} */
.profiling-show,
.profiling-show2 {
  width: 240px;
}
@media (max-width: 767px) {
  .profiling-show,
  .profiling-show2 {
    width: 100%;
  }
}
.profiling-show:hover,
.profiling-show2:hover {
  cursor: pointer;
  color: var(--blue);
  transform: scale(1.1);
}
.profile-info {
  display: flex;
  align-items: center;
  margin: 5px 10px;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .profile-info {
    justify-content: center;
  }
}

.profile-icons {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.75em;
  margin-right: 10px;
  margin-bottom: 10px;
}
.profile-img {
  width: 30px;
  height: 30px;
  margin: 0px auto 5px auto;
}
.profile-img img {
  width: 100%;
  height: 100%;
}
.float-active {
  box-shadow: 0 3px 7px -5px rgb(0 0 0 / 35%);
  left: 0;
  padding-left: 0;
  width: 100%;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 1000;
  position: fixed;
  background: #fff;
  top: 83px;
}

@media (max-width: 767px) { 
.float-active {
    top: 133px;
  }
}

.float-price__inner {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0px 4px 15px rgb(121 5 210 / 10%);
}
/* Header */
img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .logo a img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .logo a img {
    max-width: 100%;
  }
}
.header-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: 0.4s;
}

.sticky {
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  z-index: 9999;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  background: #fff;
}
.custom-container {
  max-width: 1450px;
  margin: 0 auto;
}

/* menu */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .main-menu-area {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main-menu-area {
    padding: 25px 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-menu-area {
    padding: 25px 15px;
  }
}
@media (max-width: 767px) {
  .main-menu-area {
    padding: 25px 15px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main-menu-area {
    padding: 25px 15px;
  }
}
/* .main-menu nav > ul > li {
  display: inline-block;
  position: relative;
  margin-right: 26px;
} */
.main-menu nav > ul > li {
  display: inline-block;
  /* position: relative; */
  margin-right: 26px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .main-menu nav > ul > li {
    margin-right: 3px;
    margin-left: 13px;
  }
}

.main-menu nav > ul > li > a {
  margin-right: 0;
}

.main-menu nav > ul > li > a {
  display: block;
  font-size: 20px;			/*18px*/
  padding: 20px 0;			/*30px 0*/
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: transparent;
  line-height: 1;
  position: relative;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}
.sticky .main-menu nav > ul > li > a {
  color: var(--blue) !important;
}
.main-menu nav > ul > li > a i {
  font-size: 16px;
  margin-left: 3px;
  position: relative;
  top: 2px;
}

.main-menu nav > ul > li:hover > a,
.main-menu nav > ul > li.active > a {
  color: #fff;
  text-decoration: underline;
  text-underline-position: under;
}

.main-menu nav > ul > li a.active {
  text-decoration: underline;
  text-underline-position: under;
}

/* sub-menu */
/* .main-menu nav > ul > li .sub-menu {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 120%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 220px;
  z-index: 9;
  border-top: 3px solid var(--blue);
  text-align: left;
} */

.main-menu nav > ul > li .sub-menu {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  opacity: 0;
  position: absolute;
  top: 120%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 9;
  /* border-top: 3px solid var(--blue); */
  text-align: left;
  box-shadow: 0px 40px 80px rgba(94, 93, 93, 0.25);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}
.w-285 {
  width: 285px !important;
  padding: 20px;
}
.w-285 li a {
  color: #0c014f !important;
  font-weight: 600;
}
.main-menu nav > ul > li:hover .sub-menu {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

/* .main-menu nav > ul > li .sub-menu li {
  display: block;
} */
.main-menu nav > ul > li .sub-menu li {
  display: block;
  flex-basis: 33%;
}

.main-menu nav > ul > li .sub-menu li a {
  color: #666666;
  font-size: 18px;
  margin: 0;
  padding: 10px 20px;
  text-transform: capitalize;
  display: block;
  font-size: 500;
  border-radius: 15px;
  transition: all 0.2s;
}

.main-menu nav > ul > li:hover > .sub-menu li > a:hover {
  box-shadow: 1px 6px 20px 0px rgb(106 113 226 / 40%);
  transform: scale(1.1);
}

/* Hamburger-menu */
.hamburger-menu {
  display: inline-block;
}
.hamburger-menu > a {
  display: inline-block;
  font-size: 25px;
  color: var(--blue);
}

.side-mobile-menu {
  display: none;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .side-mobile-menu {
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .side-mobile-menu {
    display: block;
  }
}
@media (max-width: 767px) {
  .side-mobile-menu {
    display: block;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .side-mobile-menu {
    display: block;
  }
}

.slide-bar {
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: -370px;
  width: 350px;
  padding: 25px 30px;
  height: 100%;
  display: block;
  background-color: #fff;
  z-index: 1020;
  -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .slide-bar {
    width: 330px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slide-bar {
    width: 330px;
  }
}

.slide-bar.show {
  right: 0;
}
.side-mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.side-mobile-menu ul li a {
  padding: 13px 0;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 16px;
  color: var(--blue);
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
.side-mobile-menu ul li a:hover {
  /* color: var(--blue); */
  padding-left: 5px;
}
.side-mobile-menu ul li a[aria-expanded="true"] {
  color: var(--blue);
}
.side-mobile-menu ul li a[aria-expanded="true"]:before {
  background: var(--blue);
  border-color: var(--blue);
}
.side-mobile-menu ul li ul {
  padding-left: 0;
  list-style: none;
}
.side-mobile-menu ul li ul li {
  padding-left: 15px;
}
.side-mobile-menu ul li ul li:hover > a {
  /* color: var(--blue); */
  padding-left: 20px;
}
.side-mobile-menu ul li ul li:hover > a:before {
  /* background: var(--blue); */
  /* border-color: var(--blue); */
}
.side-mobile-menu ul li ul li a {
  position: relative;
  padding-left: 15px;
  text-transform: capitalize;
  font-size: 16px;
}
.side-mobile-menu ul li ul li a:before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid white;
  border-radius: 50%;
}
.side-mobile-menu ul li ul li a[aria-expanded="true"] {
  padding-left: 20px;
}
.side-mobile-menu ul li.has-dropdown > a:after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-width: 2px 0 0 2px;
  border-style: solid;
  border-color: initial;
  right: 16px;
  top: 50%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
  -webkit-transform-origin: top;
  transform-origin: top;
  transition: all 0.3s ease-out;
}
.side-mobile-menu ul li.has-dropdown a[aria-expanded="true"]:after {
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}

.close-mobile-menu a {
  color: var(--blue);
  position: relative;
  z-index: 2;
  font-size: 16px;
  top: -10px;
  left: 0;
}
/* .hero-02-area::before {
  content: "";
  position: absolute;
  opacity: 0.6;
  right: 0;
  top: 0;
  width: 751px;
  height: 729px;
} */
.hero-02-area .slider-img {
  position: absolute;
  right: 200px;
  top: 182px;
  z-index: 1;
  width: 37%;
  height: auto;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .hero-02-area .slider-img {
    right: 130px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .hero-02-area .slider-img {
    right: 100px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-02-area .slider-img {
    right: 25px;
    top: 150px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-02-area .slider-img {
    position: relative;
    width: 250px;
    height: auto;
    left: 0;
    top: 40px;
    right: 0;
    margin: auto;
  }
  .negative-margin_mob {
    margin-top: -7em;
  }
}
.slider-height {
  min-height: 650px;
  background-position: center top;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .slider-height {
    min-height: 650px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-height {
    min-height: 650px;
  }

  .pos-abs-reset {
    position: relative !important;
  }

  .base-chart-bg {
    height: 300px !important;
  }
  .base-chart-bg .base-chart_feature-1 {
    top: -134px !important;
  }
  .base-chart-bg .base-chart_feature-2 {
    right: 140px !important;
    top: -175px !important;
  }
  .base-chart-bg .base-chart_feature-3 {
    left: 25px !important;
    bottom: 0px !important;
  }
  .base-chart-bg .base-chart_feature-4 {
    right: 60px !important;
    bottom: 95px !important;
  }
  .fromleftflip {
    transform: none !important;
  }
}
@media (max-width: 767px) {
  .slider-height {
    min-height: 550px;
  }
  .blue-bg-light {
    background: linear-gradient(
      90deg,
      rgba(73, 114, 253, 0.85) 0%,
      rgba(121, 5, 210, 0.85) 100%
    ) !important;
    padding-bottom: 0;
  }
  .pos-abs-reset {
    position: relative !important;
  }
  .quotes {
    transform: none !important;
  }
  .base-chart-bg {
    height: 300px !important;
  }
  .base-chart-bg .base-chart_feature-1,
  .base-chart-bg .base-chart_feature-2,
  .base-chart-bg .base-chart_feature-3,
  .base-chart-bg .base-chart_feature-4 {
    transform: none !important;
  }
  .base-chart-bg .base-chart_feature-1 {
    width: 180px !important;
    top: -100px !important;
  }
  .base-chart-bg .base-chart_feature-2 {
    width: 185px !important;
    top: -185px !important;
    right: -7px !important;
  }
  .base-chart-bg .base-chart_feature-3 {
    width: 210px !important;
    left: 0 !important;
  }
  .base-chart-bg .base-chart_feature-4 {
    width: 165px !important;
    bottom: 100px !important;
  }
  .fromleftflip {
    transform: none !important;
  }
}

.single-slider {
  background-position: center center;
  background-size: cover;
}

.hero-content {
  position: relative;
  z-index: 3;
}
.sub-info {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #676767;
}
.hero-content h2 {
  color: #fff;
}
.hero-content .paragraph {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #676767;
}
.bg-quotes {
  background: linear-gradient(90deg, #4a72fd -13.03%, #9a46db 147.74%);
}
.quotes {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: #fff;
}

.quotes_dots {
  width: 160px;
  height: auto;
  position: absolute;
  top: -140px;
  left: -15px;
}
.quotes_waves {
  width: 860px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 400px;
  opacity: 0.4;
}
.quotes_waves.wave_2 {
  width: 400px;
  right: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-content {
    margin-top: 8px;
  }
  .quotes::before {
    bottom: 125px;
  }
  .quotes_dots {
    display: none;
  }
}
@media (max-width: 767px) {
  .hero-content {
    margin-top: 8px;
  }
  .quotes::before {
    background-image: none;
  }
  .quotes_dots {
    display: none;
  }
  .quotes_waves {
    display: none;
  }
  .quotes {
    font-size: 22px;
    line-height: 30px;
  }
}

.hero-slider-caption span {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  display: block;
  margin-bottom: 10px;
  line-height: 1.5;
}
.hero-slider-caption span i {
  font-size: 22px;
  margin-right: 15px;
}
.hero-slider-caption h2 {
  font-size: 80px;
  margin-top: 18px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.3px;
  margin-bottom: 30px;
}
.hero-slider-caption .side-line {
  position: relative;
}
.hero-slider-caption .side-line::before {
  content: "";
  width: 17%;
  background-color: #4a72fd;
  height: 4px;
  position: absolute;
  bottom: 13px;
}
.extra-text-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #4a72fd;
  padding-bottom: 12px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .hero-slider-caption h2 {
    font-size: 60px;
    margin-bottom: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-slider-caption h2 {
    font-size: 50px;
    margin-bottom: 14px;
  }
}
@media (max-width: 767px) {
  .hero-slider-caption h2 {
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 22px;
  }
}
.content-section h2 {
  color: var(--blue);
}

.pointers ul li {
  text-align: left;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0px 4px 15px rgba(123, 123, 123, 0.1);
  border-radius: 6px;
  font-weight: 600;
  color: #676767;
  margin-bottom: 15px;
}

.no-shadows ul li {
  box-shadow: initial;
  background: transparent;
}
.pointers ul li span {
  display: inline-block;
  margin-bottom: unset;
  vertical-align: middle;
}
.pointers ul li span i {
  color: var(--blue);
}
.pointers.use-cases ul li span i {
  color: #fea800;
}
.use-cases .highlight-text {
  color: #4a72fd;
  font-size: initial;
  vertical-align: initial;
  display: initial;
}
.accordion-button {
  border-radius: 8px;
  box-shadow: 0px 7px 40px rgba(123, 123, 123, 0.15);
}
.accordion-collapse {
  border-width: 0px 1px 1px;
}
.accordion-button h2 {
  margin-bottom: 0;
  color: var(--blue);
}
.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}
.accordion-item {
  margin-bottom: 30px;
}
.accordion-button.collapsed {
  border-bottom-width: 1px;
}
.pointers02 ul li {
  transform: unset;
  border-radius: 12px;
  background-color: #fff;
  color: var(--orange);
  box-shadow: inset -5px 2px 12px 1px rgb(0 0 0 / 9%);
}

.base-chart-bg .base-chart_feature-1 {
  width: 200px;
  height: auto;
  position: absolute;
  left: 0;
  top: 40px;
}
.base-chart-bg .base-chart_feature-2 {
  width: 250px;
  height: auto;
  position: absolute;
  right: -50px;
  top: -50px;
}

.base-chart-bg .base-chart_feature-3 {
  width: 250px;
  height: auto;
  position: absolute;
  left: -38px;
  bottom: -15px;
}

.base-chart-bg .base-chart_feature-4 {
  width: 250px;
  height: auto;
  position: absolute;
  right: 0px;
  bottom: 170px;
}
.fromleftflip {
  transition: all 2s;
}
.abs-pos {
  position: absolute;
}

/* Form  */
.form-container {
  background: #ffffff;
  box-shadow: 0px 7px 40px rgba(123, 123, 123, 0.15);
  border-radius: 8px;
  padding: 30px;
}

.form-container .form-label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #0c014f;
}
.contact-icon_wrapper {
  flex-shrink: 0;
  margin-right: 25px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.contact-icon_wrapper img {
  width: 100%;
  height: 100%;
}
/* Footer */

.footer-logo {
  padding-bottom: 35px;
  border-bottom: 1px solid #1d303f;
  position: relative;
}
@media (max-width: 767px) {
  .footer-logo {
    border-bottom: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-logo {
    border-bottom: none;
  }
}
.footer-logo::before {
  position: absolute;
  content: "";
  background-color: var(--blue);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .footer-logo::before {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-logo::before {
    display: none;
  }
}
.footer-logo:hover::before {
  width: 100%;
}

.footer-social-icon {
  border-bottom: 1px solid #1d303f;
}
@media (max-width: 767px) {
  .footer-social-icon {
    border-bottom: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-social-icon {
    border-bottom: none;
  }
}
.footer-social-icon a {
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding-left: 85px;
  position: relative;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .footer-social-icon a {
    padding-left: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-social-icon a {
    padding-left: 2px;
  }
}
@media (max-width: 767px) {
  .footer-social-icon a {
    padding-left: 0;
    width: 50%;
    float: left;
    text-align: left;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-social-icon a {
    padding-left: 0;
    width: 50%;
    float: left;
    text-align: center;
  }
}
.footer-social-icon a::before {
  position: absolute;
  content: "";
  background-color: #ea5822;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .footer-social-icon a::before {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-social-icon a::before {
    display: none;
  }
}
.footer-social-icon a i {
  color: white;
  font-size: 13px;
  background: #1771e6;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}
.footer-social-icon a:hover::before {
  width: 100%;
}
.footer-social-icon .fot-twitter i {
  background: #1da1f2;
}
.footer-social-icon .fot-google i {
  background: #ff0000;
}
.footer-social-icon .fot-insta i {
  background: #de0e88;
}

.footer-widget .footer-widget-title {
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: -0.3px;
}
.footer-widget .slider-search-form input {
  width: 100%;
  height: 55px;
  border: none;
  padding: 0 35px;
  font-size: 15px;
  color: #708389;
  font-weight: 400;
  background-color: #0c3542;
}
.footer-widget .slider-search-form button {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #ea5822;
  color: white;
  border: 0;
  height: 54px;
  width: 66px;
  line-height: 20px;
  font-size: 25px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .footer-widget.widget-center {
    text-align: left !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-widget.widget-center {
    text-align: left !important;
  }
}

.footer-list li {
  width: 50%;
  float: left;
  overflow: hidden;
}
@media (max-width: 767px) {
  .footer-list li {
    width: 100%;
    float: none;
  }
}
.footer-list li a {
  color: #708389;
  font-size: 15px;
  line-height: 1;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 12px;
  position: relative;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.footer-list li a::before {
  content: "";
  position: absolute;
  background-color: var(--blue);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  left: 0;
  top: 7px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.footer-list li a:hover {
  color: var(--blue);
  padding-left: 20px;
}
.footer-list li a:hover::before {
  opacity: 1;
  visibility: visible;
}

.footer-02-list li {
  float: none;
  width: 100%;
}

.copyright-area {
  background: transparent;
}
.copyright-area .copyright-text p {
  color: #94a7b5;
  margin-bottom: 0;
}
.copyright-area .copyright-text p a {
  color: white;
}


.hero-02-area .rotating-sqare {
  position: absolute;
  right: 200px;
  top: 48px;
  width: 37%;
  height: auto;
}

/* rotations animation */
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 15s linear infinite;
  -moz-animation: rotating 15s linear infinite;
  -ms-animation: rotating 15s linear infinite;
  -o-animation: rotating 15s linear infinite;
  animation: rotating 15s linear infinite;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .hero-02-area .rotating-sqare {
    right: 130px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .hero-02-area .rotating-sqare {
    right: 100px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-02-area .rotating-sqare {
    right: 20px;
    top: 100px;
  }
}

/* Navigation  */
.nav-wrapper {
  /* width: 280px; */
  padding: 10px;
}
.nav-icon {
  background-color: var(--blue);
  width: 40px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
}
.nav-icon img {
  margin-top: 8px;
}
.nav-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #0c014f;
}
.nav-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #676767;
}


/* language dropdown 
.custom-drop {
  display: inline-block;
}
.custom-drop .access_btns {
  width: auto;
  font-size: 0.75em;
  height: auto;
}
.custom-drop .dropdown-item:focus,
.custom-drop .dropdown-item:hover {
  color: var(--blue);
  background-color: #e9ecef;
} */

/* New Language design */
.landing-page_navbar__lang-switches {
	display: inline-block;
	position:absolute;
	top: 22px;
    margin-left: 25px;
    min-width: 106px;
}

@media (max-width: 767px) {
  .landing-page_navbar__lang-switches {
		display: inline-block;
		position: absolute;
		top: 46px;
  }
}

.landing-page_navbar__lang-switches ul {
    border-radius: 50px;
    float: right;
    overflow: hidden;
    border: 1px solid #6a71e5;
}
.landing-page_navbar__lang-switches ul li {
    float: left;
}
.landing-page_navbar__lang-switches ul li a {
    padding: 8px 15px;
    line-height: 17px;
    text-align: center;
    color: #6d6d6d;
    background: #fff;
    display: block;
    font-weight: 500;
}
.landing-page_navbar__lang-switches ul li a.active {
    background: #6a71e5;
    color: #fff;
}
